.DS_Store
/node_modules
/public/storage
/vendor
/.idea
Homestead.json
Homestead.yaml
.env

storage/exports/
.phpintel/
!public/logo/knap.png
!public/logo/knap-small.png
public/logo
public/avatar/
node_modules/
npm-debug.log
user-management/
versions/
laravel-installer/